<form>
    <div class="mb-3">
        <label for="inspectionTypeId" class="form-label">Inspection Type</label>
        <input type="text" name="inspectionTypeId" class="form-control" [(ngModel)]="inspectionTypeId"
            *ngIf="inspection.id != 0" disabled>
        <ng-container *ngIf="inspection.id == 0">
            <select class="form-control" name="inspectionTypeId" id="inspectionTypeId" [(ngModel)]="inspectionTypeId">
                <option *ngFor="let type of inspectionTypesList$|async" [value]="type.id">{{type.inspectionName}}
                </option>
            </select>
        </ng-container>
        <div class="mt-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-control" name="status" id="status" [(ngModel)]="status">
                <option *ngFor="let status of statusList$|async" [value]="status.statusOption">{{status.statusOption}}
                </option>
            </select>
        </div>

    </div>
    <div class="mb-3">
        <label for="comments" class="form-label">Comments</label>
        <input type="text" name="" id="" name="comments" class="form-control" [(ngModel)]="comments">
    </div>
    <button *ngIf="inspection.id == 0" (click)="addInspection()" class="btn btn-primary">Add</button>
    <button *ngIf="inspection.id != 0" (click)="updateInspection()" class="btn btn-primary">Update</button>

</form>